.vscode
.idea
.DS_Store

build/
build_isolated/
devel/
devel_isolated/
install/
install_isolated/
temp/

*.pyc
*.bag
*.bag.active

robot_gazebo/
ceres-solver/

.env
mailmap.txt

Ros_Qt5_Gui_App/build/
tools/ros_rqt_gui/*.log

src/bot_navigation/maps/2025*

