<launch>
	<arg name="publish_odom_tf" default="false" />
	<arg name="use_camera" default="false" />

	<arg name="model_xacro" default = "$(find dr200_description)/urdf/dr200_gazebo.xacro" />

	<!--- Sim Time -->
	<param name="/use_sim_time" value="true" />

	<param name="robot_description" command="$(find xacro)/xacro $(arg model_xacro) publish_odom_tf:=$(arg publish_odom_tf) use_camera:=$(arg use_camera)" />

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="false"/>
	</node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
		<param name="publish_frequency" value="50.0" />
	</node>

	<!-- spawn model -->
	<node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model dr200 -param robot_description" />

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find dr200_description)/worlds/nano_world.world" />
	</include>
</launch>